#container.container_16
  -#%div{:class => ['grid_10 prefix_0']}
    %h3.center Player Rankings
    %table.pp.center
      %tr
        %th Rank (set elo)
        %th Player
        %th Games Elo Rating
        %th Winning %
        %th Sets Won
        %th Sets Lost
        %th Department
      - @ranked.each_index do |index|
        %tr
          %td="#{index+1} (#{@ranked[index][:sets_elo]})"
          %td=link_to_player(@ranked[index][:name])
          %td= @ranked[index][:games_elo]
          %td="#{@ranked[index][:percentage]}%"
          %td= @ranked[index][:wins]
          %td= @ranked[index][:loses]
          %td= @ranked[index][:department]
      - @unranked.each do |p|
        %tr
          %td="UR (#{p[:sets_elo]})"
          %td=link_to_player(p[:name])
          %td= p[:games_elo]
          %td="#{p[:percentage]}%"
          %td= p[:wins]
          %td= p[:loses]
          %td= p[:department]
    %center
      %b Must have played at least 3 sets to be ranked
  %div{:class => ['grid_6 prefix_2']}
    %h3.center Doubles Rankings
    %table.pp.center
      %tr
        %th Rank (set elo)
        %th Player 1
        %th Player 2
      - @doubles_ranked.each_index do |index|
        %tr
          %td="#{index+1} (#{@doubles_ranked[index][:sets_elo]})"
          %td=link_to_player(@doubles_ranked[index][:p1])
          %td=link_to_player(@doubles_ranked[index][:p2])
  -#.clear
  -#.grid_5
    %h3.center Last 10 Set Results
    %table.pp.center
      %tr 
        %th Winner
        %th Loser
        %th # of Games
        -#%th Date
      - @sets.each do |set|
        %tr
          %td="#{link_to_player(set[:winner])} (#{set[:winner_elo]})"
          %td="#{link_to_player(set[:loser])} (#{set[:loser_elo]})"
          %td=set[:num_games]
          -#%td= set[:created_at].strftime("%b %d, %Y")
  -#.grid_5
    %h3.center Last 10 Game Results
    %table.pp.center
      %tr 
        %th Winner
        %th Loser
        %th Score
        -#%th Date
      - @games.each do |game|
        - served = Player.name_from_id(game[:served])
        - winner = ((game[:served].to_i == game[:winner_id]) ? Player.name_from_id(game[:winner_id]).upcase : Player.name_from_id(game[:winner_id]))
        - loser  =  (game[:served].to_i == game[:loser_id]) ? Player.name_from_id(game[:loser_id]).upcase : Player.name_from_id(game[:loser_id])
        %tr
          %td="#{link_to_player(winner)} (#{game[:winner_elo]})"
          %td="#{link_to_player(loser)} (#{game[:loser_elo]})"
          %td= "#{game[:winner_score]}-#{game[:loser_score]}"
    %center
      %b Server is in uppercase
  .grid_6
    %h3.center Last 10 Doubles Sets Results
    %table.pp.center
      %tr
        %th Winners
        %th Losers
        %th # of Games
      - @doubles_sets.each do |set|
        %tr
          %td="#{link_to_player(set[:w1])} & #{link_to_player(set[:w2])}" 
          %td="#{link_to_player(set[:l1])} & #{link_to_player(set[:l2])}" 
          %td=set[:num_games]
