#container.container_16
  %div{:class => ['grid_12 prefix_2']}
    %h3.center Player Rankings
    %table.pp.center
      %tr
        %th Rank (set elo)
        %th Player
        %th Games Elo Rating
        %th Winning %
        %th Sets Won
        %th Sets Lost
        %th Department
      - @rankings.each_index do |index|
        %tr
          %td="#{index+1} (#{@rankings[index][:sets_elo]})"
          %td=link_to_player(@rankings[index][:name])
          %td= @rankings[index][:games_elo]
          %td="#{@rankings[index][:percentage]}%"
          %td= @rankings[index][:wins]
          %td= @rankings[index][:loses]
          %td= @rankings[index][:department]
  .clear
  %div{:class => ['grid_5 prefix_2 suffix_1']}
    %h3.center Last 10 Set Results
    %table.pp.center
      %tr 
        %th Winner
        %th Loser
        %th # of Games
        -#%th Date
      - @sets.each do |set|
        %tr
          %td="#{link_to_player(set[:winner])} (#{set[:winner_elo]})"
          %td="#{link_to_player(set[:loser])} (#{set[:loser_elo]})"
          %td=set[:num_games]
          -#%td= set[:created_at].strftime("%b %d, %Y")
  .grid_7
    %h3.center Last 10 Game Results
    %table.pp.center
      %tr 
        %th Winner
        %th Loser
        %th Score
        -#%th Date
      - @games.each do |game|
        - served = Player.name_from_id(game[:served])
        - winner = ((game[:served].to_i == game[:winner_id]) ? Player.name_from_id(game[:winner_id]).upcase : Player.name_from_id(game[:winner_id]))
        - loser  =  (game[:served].to_i == game[:loser_id]) ? Player.name_from_id(game[:loser_id]).upcase : Player.name_from_id(game[:loser_id])
        %tr
          %td="#{link_to_player(winner)} (#{game[:winner_elo]})"
          %td="#{link_to_player(loser)} (#{game[:loser_elo]})"
          %td= "#{game[:winner_score]}-#{game[:loser_score]}"
    %center
      %b Server is in uppercase
