#container.container_16
  %div{:class => ['grid_12 prefix_2']}
    %h3.center Player Rankings
    %table.pp
      %tr
        %th Rank (set elo)
        %th Player
        %th Games Elo Rating
        %th Winning %
        %th Sets Won
        %th Sets Lost
        %th Department
      - @rankings.each_index do |index|
        %tr
          %td="#{index+1} (#{@rankings[index][:sets_elo]})"
          %td= @rankings[index][:name]
          %td= @rankings[index][:games_elo]
          %td="#{@rankings[index][:percentage]}%"
          %td= @rankings[index][:wins]
          %td= @rankings[index][:loses]
          %td= @rankings[index][:department]
  .clear
  %div{:class => ['grid_4 prefix_2 suffix_3']}
    %h3.center Last 10 Set Results
    %table.pp
      %tr 
        %th Winner
        %th Loser
        -#%th Date
      - @sets.each do |set|
        %tr
          %td="#{Player.name_from_id(set[:winner_id])} (#{set[:winner_elo]})"
          %td="#{Player.name_from_id(set[:loser_id])} (#{set[:loser_elo]})"
          -#%td= set[:created_at].strftime("%b %d, %Y")
  .grid_5
    %h3.center Last 10 Game Results
    %table.pp
      %tr 
        %th Winner
        %th Loser
        %th Score
        -#%th Date
      - @games.each do |game|
        - winner = Player.name_from_id(game[:winner_id])
        - loser = Player.name_from_id(game[:loser_id])
        - served = Player.name_from_id(game[:served])
        - [winner, loser].each do |name|
          - if name == Player.name_from_id(game[:served])
            - name = "<u>#{name}</u>"
        %tr
          - if winner == served
            %td="#{winner.upcase} (#{game[:winner_elo]})"
          - else 
            %td= "#{winner} (#{game[:winner_elo]})"
          - if loser == served
            %td= "#{loser.upcase} (#{game[:loser_elo]})"
          - else 
            %td= "#{loser} (#{game[:loser_elo]})"
          %td= "#{game[:winner_score]}-#{game[:loser_score]}"
          -#%td= game[:created_at].strftime("%b %d, %Y")
    %b Server is in uppercase
